<div class="login-container">
  <div class="welcome-section">
    <div class="py-5">
      <img src="../../../../assets/logo/logo.png" alt="" />
    </div>
  </div>
  <div class="form-section">
    <h1 class="text-start py3">Login</h1>
    <small class="text-muted" style="white-space: nowrap"
      >Secure access to your dashboard.</small
    >

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        placeholder="Enter your email"
        required
      />

      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        placeholder="Enter your password"
        required
      />

      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <small
      style="cursor: pointer"
      class="text-center py-2"
      routerLink="/register"
    >
      Don’t have an account? <span class="sign">Sign up</span>
    </small>
  </div>
</div>
