<div class="login-container">
  <div class="welcome-section">
    <div class="py-5">
      <img src="../../../../assets/logo/logo.png" alt="" />
    </div>
  </div>
  <div class="form-section">
    <h1 class="text-start py3">Register</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label for="username">Username</label>
      <input
        formControlName="username"
        id="username"
        type="text"
        placeholder="Enter your username"
        required
      />

      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        placeholder="Enter your email"
        required
      />

      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        placeholder="Enter your password"
        required
      />

      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
    <small style="cursor: pointer" class="py-2" routerLink="/login"
      >Already have an account? Login</small
    >
  </div>
</div>
