.info-user {

    .btn-top {
        background-color: #F9FAFB;
        outline: none;
        border: 1px solid #D0D5DD;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        width: 123px;
        height: 40px;
    }


}

.col-md-3 {
    background-color: #002726;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    flex-grow: 1;

    h5 {
        color: #B7CCCC;

    }

    h3 {
        color: white;
    }
}

.p-ripple {
    background-color: transparent !important;
}

.View_All {
    background-color: #FFFFFF;
    border: #D0D5DD 1px solid;
    outline: none;
    color: #344054;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}