.edit-btn {
    background-color: transparent;
    outline: none;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    height: 40px;
    white-space: nowrap;
}

.cancel-btn {
    background-color: red;
    outline: none;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    height: 40px;
    white-space: nowrap;
    color: white;
}

.bg-img {
    background-color: #FEF3F2;
    height: 75px;
    width: 75px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bg-img2 {
    background-color: #FEF3F2;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}