<div class="bg-white justify-content-between align-items-start d-flex p-3">
  <img src="../assets/logo/logo-dark.png" alt="" width="100px" />
  <div class="d-flex gap-3 justify-content-center align-items-center">
    <i class="pi pi-user fs-5"></i>
    <i class="pi pi-bars fs-5" (click)="sidebarVisible = true"></i>
  </div>
</div>
<div class="app-layout">
  <app-sidebar *ngIf="sidebarshow"></app-sidebar>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
<p-sidebar [(visible)]="sidebarVisible" styleClass="w-10rem">
  <div class="sidebar-header">
    <img src="../assets/logo/img-logo.png" alt="img" class="" routerLink="/" />
    <div class="d-flex justify-content-start align-items-center py-4">
      <button class="btn-new-camp" routerLink="/Create_New_Campaign">
        + Create New Campaign
      </button>
    </div>
    <ul>
      <li
        class="d-flex gap-2 justify-content-start align-items-center"
        routerLinkActive="back-G"
      >
        <img src="../assets/overview/icon-1.svg" alt="img" />
        <a routerLink="/overview">Overview</a>
      </li>
      <li
        class="d-flex gap-2 justify-content-between align-items-center"
        routerLinkActive="back-G"
      >
        <div class="d-flex gap-2">
          <img src="../assets/overview/icon-2.svg" alt="img" />
          <a routerLink="/Active_Campaigns">Active Campaigns</a>
        </div>
        <div class="num">
          <small>{{ counts?.active }}</small>
        </div>
      </li>
      <li
        class="d-flex gap-2 justify-content-between align-items-center"
        routerLinkActive="back-G"
      >
        <div class="d-flex gap-2">
          <img src="../assets/overview/icon-3.svg" alt="img" />
          <a routerLink="/Past_Campaigns">Past Campaigns</a>
        </div>
        <div class="num">
          <small>{{ counts?.inactive }}</small>
        </div>
      </li>
      <li
        class="d-flex gap-2 justify-content-between align-items-center"
        routerLinkActive="back-G"
      >
        <div class="d-flex gap-2">
          <img src="../assets/overview/icon-4.svg" alt="img" />
          <a routerLink="/Draft_Campaigns">Draft Campaigns</a>
        </div>
        <div class="num">
          <small>{{ counts?.draft }}</small>
        </div>
      </li>
      <li
        class="d-flex gap-2 justify-content-start align-items-center"
        routerLinkActive="back-G"
      >
        <img src="../assets/overview/icon-5.svg" alt="img" />
        <a routerLink="Billing">Billing</a>
      </li>
      <li
        class="d-flex gap-2 justify-content-start align-items-center"
        routerLinkActive="back-G"
      >
        <i class="pi pi-user" style="font-size: 1.2rem; color: white"></i>

        <a routerLink="/profile">Profile</a>
      </li>
    </ul>
  </div>
</p-sidebar>

<!-- <div
  class="loading-container justify-content-center align-items-center d-flex py-5"
>
  <div
    class="spinner justify-content-center align-items-center d-flex flex-column"
  >
    <p>Loading, please wait...</p>
    <i
      class="pi pi-spin pi-spinner fs-1"
      style="font-size: 2rem; color: whitesmoke"
    ></i>
  </div> -->
<!-- </div> -->
