/* app.component.scss */
.app-layout {
    display: flex;
    /* Use Flexbox to align children */
    flex-direction: row;
    /* Place sidebar and main content horizontally */
    height: 100vh;
    /* Ensure full height */
}

// app-sidebar {
//     width: 250px;
//     /* Set sidebar width */
//     background-color: #f4f4f4;
//     /* Sidebar background color */
//     height: 100%;
//     /* Sidebar takes full height */
//     flex-shrink: 0;
//     /* Prevent sidebar from shrinking */
// }

.main-content {
    flex-grow: 1;
    overflow-y: auto;

}

.loading-container {
    background-color: #004E4C;
    height: 100vh;
    color: white;
}