<section class="new-campaign p-3">
  <div class="container">
    <h3>Create New Campaign</h3>
    <p>Create and manage campaigns effortlessly</p>
  </div>
</section>
<section class="form p-3">
  <div class="container rounded-3 bg-white p-0">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">#hashtag campaign</p-tab>
        <p-tab value="1">Phrase campaign</p-tab>
        <p-tab value="2">&#64;campaign</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <form [formGroup]="hashtagForm" (ngSubmit)="onSubmit()">
            <div class="py-3 d-flex flex-column">
              <p class="fw-bold">Type in the #hashtag you want discovered</p>
              <input
                formControlName="hashtag"
                placeholder="Enter hashtag"
                (input)="addSearchTerm()"
              />

              <small class="py-1">Less than 500 characters</small>
              <div
                *ngIf="
                  hashtagForm.get('hashtag')?.invalid &&
                  (hashtagForm.get('hashtag')?.touched ||
                    hashtagForm.get('hashtag')?.dirty)
                "
              >
                <small class="text-danger"
                  >Hashtag is required and should be less than 500
                  characters.</small
                >
              </div>
            </div>

            <p class="fw-bold">
              What action do you want to take place when the phrase is
              discovered?
            </p>
            <div class="radio-group py-3">
              <label class="styled-radio">
                <input type="radio" formControlName="action" value="autoLike" />
                <span class="custom-radio-box"></span>
                <span class="custom-radio-label">Auto like</span>
              </label>
              <label class="styled-radio">
                <input
                  type="radio"
                  formControlName="action"
                  value="autoReply"
                />
                <span class="custom-radio-box"></span>
                <span class="custom-radio-label"
                  >Auto Reply / comment only</span
                >
              </label>
              <label class="styled-radio">
                <input
                  type="radio"
                  formControlName="action"
                  value="autoLikeReply"
                />
                <span class="custom-radio-box"></span>
                <span class="custom-radio-label">Auto Like & Reply</span>
              </label>
            </div>

            <div class="py-3 d-flex flex-column">
              <p class="fw-bold">
                What comment reply do you want automatically posted?
              </p>
              <input
                id="comment"
                formControlName="comment"
                placeholder="Ex. We love country music too!"
                maxlength="500"
              />
              <small class="py-1">Less than 500 characters</small>
              <div
                *ngIf="
                  hashtagForm.get('comment')?.invalid &&
                  (hashtagForm.get('comment')?.touched ||
                    hashtagForm.get('comment')?.dirty)
                "
              >
                <small class="text-danger"
                  >Comment is required and should be less than 500
                  characters.</small
                >
              </div>
            </div>

            <div class="d-flex gap-5 justify-content-start align-items-start">
              <div
                class="d-flex flex-column justify-content-start align-items-start"
              >
                <p class="fw-bold">Duration</p>
                <label>
                  <input
                    type="radio"
                    formControlName="duration"
                    value="untilCancelled"
                  />
                  Run until cancelled
                </label>
                <label>
                  <input
                    type="radio"
                    formControlName="duration"
                    value="stopDate"
                  />
                  Choose stop date
                </label>
              </div>
            </div>

            <div class="d-flex flex-column">
              <p
                class="fw-bold"
                *ngIf="hashtagForm.value.duration === 'stopDate'"
              >
                Stop Date
              </p>
              <input
                type="date"
                class="w-25"
                formControlName="end_date"
                *ngIf="hashtagForm.value.duration === 'stopDate'"
              />
            </div>

            <hr />
            <div class="d-flex justify-content-end align-items-center gap-3">
              <button type="button" (click)="saveDraft()" class="save-btn p-2">
                Save as draft
              </button>
              <button
                type="submit"
                class="p-2 draft-btn"
                [disabled]="hashtagForm.invalid"
              >
                <img src="../../../../assets/overview/rocket-02.png" alt="" />
                Save & Launch
              </button>
            </div>
          </form>
        </p-tabpanel>
        <p-tabpanel value="1">
          <form [formGroup]="hashtagForm" (ngSubmit)="onSubmit()">
            <div class="py-3 d-flex flex-column">
              <p class="fw-bold">Type in the exact phase you want discovered</p>
              <input
                id="hashtag"
                formControlName="hashtag"
                placeholder="Ex. #HoustonTexasCoffee"
                maxlength="500"
              />
              <small class="py-1">Less than 500 characters</small>
            </div>
            <p class="fw-bold">
              What action do you want to take place when the phrase is
              discovered?
            </p>
            <div class="radio-group py-3">
              <label class="styled-radio">
                <input type="radio" formControlName="action" value="autoLike" />
                <span class="custom-radio-box"></span>
                <span class="custom-radio-label">Auto like</span>
              </label>

              <label class="styled-radio">
                <input
                  type="radio"
                  formControlName="action"
                  value="autoReply"
                />
                <span class="custom-radio-box"></span>
                <span class="custom-radio-label"
                  >Auto Reply / comment only</span
                >
              </label>

              <label class="styled-radio">
                <input
                  type="radio"
                  formControlName="action"
                  value="autoLikeReply"
                />
                <span class="custom-radio-box"></span>
                <span class="custom-radio-label">Auto Like & Reply</span>
              </label>
            </div>

            <div class="py-3 d-flex flex-column">
              <p class="fw-bold">
                What comment reply do you want automatically posted?
              </p>

              <input
                id="comment"
                formControlName="comment"
                placeholder="Ex. We love country music too!"
                maxlength="500"
              />
              <small class="py-1">Less than 500 characters</small>
            </div>
            <div class="d-flex align-items-center justify-content-start gap-3">
              <i class="pi pi-info-circle fs-5 info-icon"></i>
              <small>
                *Your response will run through our AI response generator. It
                will read the tweet (details & temperament) & use your response
                <br />
                as a guide, providing unlimited variations to promote uniqueness
                in your responses. *learn more here*
              </small>
            </div>
            <hr />
            <div class="d-flex gap-5 justify-content-start align-items-start">
              <div
                class="d-flex flex-column justify-content-start align-items-start"
              >
                <p class="fw-bold">Duration</p>

                <label>
                  <input
                    type="radio"
                    formControlName="duration"
                    value="untilCancelled"
                  />
                  Run until cancelled
                </label>
                <label>
                  <input
                    type="radio"
                    formControlName="duration"
                    value="stopDate"
                  />
                  Choose stop date
                </label>
              </div>
            </div>
            <div class="d-flex flex-column">
              <p class="fw-bold">Stop Date</p>
              <input
                type="date"
                class="w-25"
                formControlName="stopDate"
                *ngIf="hashtagForm.value.duration === 'stopDate'"
              />
            </div>
            <hr />

            <div class="d-flex justify-content-end align-items-center gap-3">
              <button type="button" (click)="saveDraft()" class="save-btn p-2">
                Save as draft
              </button>
              <button type="submit" class="p-2 draft-btn">
                <img src="../../../../assets/overview/rocket-02.png" alt="" />
                Save & Launch
              </button>
            </div>
          </form>
        </p-tabpanel>
        <p-tabpanel value="2">
          <form [formGroup]="hashtagForm" (ngSubmit)="onSubmit()">
            <div class="py-3 d-flex flex-column">
              <p class="fw-bold">
                Type in the &#64;username(s) you want to engage with
              </p>
              <input
                id="hashtag"
                formControlName="hashtag"
                placeholder="Ex. #HoustonTexasCoffee"
                maxlength="500"
              />
              <small class="py-1">Less than 500 characters</small>
            </div>
            <p class="fw-bold">
              What action do you want to take place when the phrase is
              discovered?
            </p>
            <div class="radio-group py-3">
              <label class="styled-radio">
                <input type="radio" formControlName="action" value="autoLike" />
                <span class="custom-radio-box"></span>
                <span class="custom-radio-label">Auto like</span>
              </label>

              <label class="styled-radio">
                <input
                  type="radio"
                  formControlName="action"
                  value="autoReply"
                />
                <span class="custom-radio-box"></span>
                <span class="custom-radio-label"
                  >Auto Reply / comment only</span
                >
              </label>

              <label class="styled-radio">
                <input
                  type="radio"
                  formControlName="action"
                  value="autoLikeReply"
                />
                <span class="custom-radio-box"></span>
                <span class="custom-radio-label">Auto Like & Reply</span>
              </label>
            </div>

            <div class="py-3 d-flex flex-column">
              <p class="fw-bold">
                What comment reply do you want automatically posted?
              </p>

              <input
                id="comment"
                formControlName="comment"
                placeholder="Ex. We love country music too!"
                maxlength="500"
              />
              <small class="py-1">Less than 500 characters</small>
            </div>
            <div class="d-flex align-items-center justify-content-start gap-3">
              <i class="pi pi-info-circle fs-5 info-icon"></i>
              <small>
                *Your response will run through our AI response generator. It
                will read the tweet (details & temperament) & use your response
                <br />
                as a guide, providing unlimited variations to promote uniqueness
                in your responses. *learn more here*
              </small>
            </div>
            <hr />
            <div class="d-flex gap-5 justify-content-start align-items-start">
              <div
                class="d-flex flex-column justify-content-start align-items-start"
              >
                <p class="fw-bold">Duration</p>

                <label>
                  <input
                    type="radio"
                    formControlName="duration"
                    value="untilCancelled"
                  />
                  Run until cancelled
                </label>
                <label>
                  <input
                    type="radio"
                    formControlName="duration"
                    value="stopDate"
                  />
                  Choose stop date
                </label>
              </div>
            </div>
            <div class="d-flex flex-column">
              <p class="fw-bold">Stop Date</p>
              <input
                type="date"
                class="w-25"
                formControlName="stopDate"
                *ngIf="hashtagForm.value.duration === 'stopDate'"
              />
            </div>
            <hr />

            <div class="d-flex justify-content-end align-items-center gap-3">
              <button type="button" (click)="saveDraft()" class="save-btn p-2">
                Save as draft
              </button>
              <button type="submit" class="p-2 draft-btn">
                <img src="../../../../assets/overview/rocket-02.png" alt="" />
                Save & Launch
              </button>
            </div>
          </form>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</section>
