<section class="active-campaigns py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h3>Past Campaigns</h3>
      <button class="Schedule-btn p-2">Schedule a walkthrough</button>
    </div>
    <div class="cards-campaigns py-5">
      <div class="row gap-3 justify-content-start align-items-center d-flex">
        <div
          class="col-10 col-md-3 flex-grow-1"
          *ngFor="let item of PastCampaigns"
        >
          <div class="border p-4 rounded bg-white">
            <p-menu #menu [model]="items" [popup]="true" />

            <div class="top">
              <div
                class="d-flex justify-content-between align-items-center gap-4"
              >
                <h5>{{ item.name }}</h5>
                <i
                  class="pi pi-ellipsis-v"
                  (click)="selectCampaign(item.id); menu.toggle($event)"
                ></i>
              </div>
              <p>Launched: {{ item.created_at | date : "MM/dd/yyyy" }}</p>
            </div>
            <div
              class="bottom d-flex justify-content-between align-items-center border-top py-2"
            >
              <div
                class="d-flex gap-2 justify-content-center align-items-center"
              >
                <i class="pi pi-thumbs-up fs-5" style="color: #002726"></i>
                <p class="m-0">{{ item.likesCount }}</p>
              </div>
              <div
                class="d-flex gap-2 justify-content-center align-items-center"
              >
                <i class="pi pi-comment fs-5" style="color: #002726"></i>
                <p class="m-0">{{ item.commentsCount }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<p-dialog
  [(visible)]="displayEditDialog"
  [modal]="true"
  [closable]="true"
  [resizable]="false"
  header="Edit Campaign"
  [style]="{ width: '40rem' }"
>
  <form
    [formGroup]="campaignForm"
    (ngSubmit)="submitCampaignForm()"
    class="campaign-form"
  >
    <div class="form-group">
      <label for="searchTerms">Search Terms</label>
      <input
        formControlName="search_terms"
        type="text"
        placeholder="Enter hashtag"
        class="form-control"
        (keydown)="addSearchTerm($event)"
      />
    </div>

    <div class="form-group">
      <label for="isActive">Active</label>
      <input
        id="isActive"
        formControlName="is_active"
        type="checkbox"
        class="form-control-checkbox"
      />
    </div>

    <div class="form-group">
      <label for="isDraft">Draft</label>
      <input
        id="isDraft"
        formControlName="is_draft"
        type="checkbox"
        class="form-control-checkbox"
      />
    </div>

    <div class="form-group">
      <label for="includeRetweets">Include Retweets</label>
      <input
        id="includeRetweets"
        formControlName="include_retweets"
        type="checkbox"
        class="form-control-checkbox"
      />
    </div>

    <div class="form-group">
      <label for="endDate">End Date</label>
      <input
        id="endDate"
        formControlName="end_date"
        type="date"
        class="form-control"
      />
    </div>

    <div class="form-actions">
      <button type="submit" class="submit-btn">Update Campaign</button>
      <button type="button" (click)="closeDialog()" class="cancel-btn">
        Cancel
      </button>
    </div>
  </form>
</p-dialog>
