.col-md-3 {
    background-color: #002726;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    flex-grow: 1;

    h5 {
        color: #B7CCCC;

    }

    h3 {
        color: white;
    }
}



.View_All {
    background-color: transparent;
    border: #D0D5DD 1px solid;
    outline: none;
    color: #344054;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}





.message {
    margin-top: 10px;
    font-size: 16px;
    color: green;
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Add ellipsis (...) */
    word-break: none;
    /* Ensure words break correctly */
}

canvas {
    height: 300px;
}