<section class="info-user mt-3">
  <div class="container">
    <div class="justify-content-between align-items-center gap-1 d-flex">
      <div>
        <h3>Welcome back, {{ userName }}</h3>
        <small class="d-none d-md-block"
          >Track, manage and forecast campaign performance here.</small
        >
      </div>
      <div class="d-none d-md-flex gap-2">
        <div class="d-flex align-items-center flex-column">
          <!-- Added align-items-center for vertical centering -->
          <button class="edit-btn View_All p-2">
            <i class="pi pi-pencil me-1"></i>Edit Plan
          </button>
          <p *ngIf="showComingSoon" class="message mb-0">Coming Soon!</p>
          <!-- Adjusted margin -->
        </div>
        <div>
          <button class="View_All p-2">Schedule a Walkthrough</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cards mt-3">
  <div class="container">
    <div
      class="row justify-content-start gap-1 align-items-center d-flex m-auto"
    >
      <div class="col-md-3 p-3">
        <h5>Actions per month</h5>
        <h3 class="bold">{{ userData.credits }}</h3>
      </div>
      <div class="col-md-3 p-3">
        <h5>Actions used this month</h5>
        <div class="d-flex gap-2 justify-content-start align-items-center">
          <h3 class="bold">{{ userData.usedCredits }}</h3>
          <!-- <i class="pi pi-arrow-up fs-5" style="color: green"></i>
          <p class="m-0" style="color: green">40%</p>
          <small class="text-white">vs last month</small> -->
        </div>
      </div>
      <div class="col-md-3 p-3">
        <h5>Actions remaining</h5>
        <h3 class="bold">{{ userData.remainingCredits }}</h3>
      </div>
    </div>
  </div>
</section>
<section class="charts py-4">
  <div class="container">
    <div class="row d-flex justify-content-start gap-2">
      <div class="col-md-9">
        <div class="bg-white p-3 rounded">
          <div
            class="d-flex justify-content-between align-items-center py-3 bg-white p-3 rounded"
          >
            <h6 class="fw-bold">Campaigns Performance</h6>
            <p-autocomplete
              [(ngModel)]="selectedCampaign"
              [dropdown]="true"
              [suggestions]="campaigns"
              (completeMethod)="getSarche()"
              (onSelect)="onCampaignSelect(selectedCampaign)"
              field="name"
            ></p-autocomplete>
          </div>
          <p-chart
            type="bar"
            [data]="data"
            [options]="options"
            class="h-[30rem]"
          />
          <hr />
          <div
            class="d-flex align-items-md-start justify-content-md-between mx-5 gap-3 gap-md-5 justify-content-center align-items-center"
          >
            <div
              class="d-flex flex-column gap-3 align-items-center justify-content-start"
            >
              <div class="d-flex gap-2">
                <i class="pi pi-thumbs-up"></i>
                <small>Likes</small>
              </div>
              <div>
                <h3 class="fw-bold">{{ likesCount }}</h3>
              </div>
              <i></i>
            </div>
            <div
              class="d-flex flex-column gap-3 align-items-center justify-content-start"
            >
              <div
                class="d-flex gap-2 justify-content-center align-items-center"
              >
                <i class="pi pi-comment"></i>
                <small> Comments</small>
              </div>
              <div>
                <h3 class="fw-bold">{{ commentsCount }}</h3>
              </div>
              <i></i>
            </div>
          </div>
        </div>
        <div class="table bg-white p-3 rounded" style="margin: 15px 0">
          <div class="d-flex justify-content-between align-items-center py-3">
            <h6 class="fw-bold">Active Campaigns</h6>
            <button
              style="cursor: pointer"
              class="View_All p-2"
              routerLink="/Active_Campaigns"
            >
              View All
            </button>
          </div>
          <p-table
            [value]="ActiveCampaigns"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Campaign Title</th>
                <th>Like</th>
                <th>Comments</th>

                <th style="width: 5rem"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>{{ product.search_terms[0] }}</td>
                <td>{{ product.likesCount }}</td>
                <td>{{ product.commentsCount }}</td>
                <td>
                  <i class="pi"></i>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div
        class="col-md-2 bg-white p-3 rounded"
        style="flex-grow: 1; margin: 15px 0"
      >
        <div class="d-flex justify-content-between align-items-center py-3">
          <h6 class="fw-bold">Activity</h6>
          <small routerLink="/all-activity" style="cursor: pointer"
            >View all</small
          >
        </div>
        <div class="side-info d-flex flex-column gap-3">
          <div
            *ngFor="let activity of recentActivity"
            class="d-flex gap-2 mb-3"
          >
            <!-- User Avatar -->
            <img
              src="../../../../assets/tw/x.avif"
              alt="User Avatar"
              style="width: 40px; height: 40px; border-radius: 50%"
            />

            <!-- Activity Content -->
            <div>
              <!-- Username and Platform Icon -->
              <div class="d-flex align-items-start gap-2">
                <small>{{ activity.account.username }}</small>
                <img
                  src="../../../assets/overview/facebook.png"
                  alt="Platform Icon"
                  *ngIf="activity.platform === 'facebook'"
                />
              </div>

              <!-- Action Message -->
              <small>
                <ng-container
                  *ngIf="
                    activity.liked === 'done' &&
                    activity.comments_done === 'done'
                  "
                >
                  liked & commented
                </ng-container>
                <ng-container
                  *ngIf="
                    activity.liked === 'done' &&
                    activity.comments_done !== 'done'
                  "
                >
                  liked
                </ng-container>
                <ng-container
                  *ngIf="
                    activity.comments_done === 'done' &&
                    activity.liked !== 'done'
                  "
                >
                  commented
                </ng-container>
                <strong class="truncate-text">{{ activity.text }}</strong>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
