<!-- <section class="twitterAccount">
  <div class="container py-5">
    <div class="row py-2">
      <div class="justify-content-center align-items-center d-flex flex-column">
        <div>
          <img
            src="../assets/tw/Subscriptions-rafiki.svg"
            alt=""
            style="width: 500px; height: 500px"
          />
        </div>
        <a class="Connect-to-x" [href]="twitterAccounts?.link" target="_blank">
          Connect X Account <i class="pi pi-twitter ms-3 fs-5"></i>
        </a>
      </div>
    </div>
  </div>
</section> -->
<section class="py-5">
  <div class="container">
    <h2>Connect X Account</h2>
    <p>Track all your billing history and current subscriptions</p>
    <div class="justify-content-center align-items-center d-flex py-3">
      <div
        style="padding: 110px"
        class="justify-content-center align-items-center d-flex flex-column bg-white rounded-5"
      >
        <img src="../../../../assets/tw/f.svg" alt="" class="w-100" />
        <div class="mt-5 btu-tw">
          <a class="Connect-to-x" [href]="twitterAccounts?.link" target="_blank"
            ><img
              src="../../../../assets/overview/rocket-02.png"
              alt="rocket"
            />
            Connect X Account
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
