/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "primeicons/primeicons.css";


body {
    font-family: "Inter", serif;
    background-color: #F9FAFB !important;

}

.btn-top {
    background-color: transparent;
    outline: none;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 123px;
    height: 40px;
}

.p-ripple {
    background-color: transparent !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
